/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 10, 2020, 3:01:26 PM
    Author     : alex
*/

.mat-icon-button {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    -fx-background-radius: 50%;
    -fx-max-width: 48px;
    -fx-width: 48px;
    -fx-max-height: 48px;
    -fx-height: 48px;
    -fx-padding: 12px;
    -fx-background-color: transparent;
}

.mat-icon-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.08);
    -fx-cursor: hand;
}