/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 14, 2020, 8:18:47 PM
    Author     : alex
*/

.button {
    -fx-border-radius: 3px;
    -fx-background-insets: 0px;
    -fx-font-family: "Roboto";
    -fx-font-weight: 700;
    -fx-font-size: 16px;
    -fx-min-width: 64px;
    -fx-background-color: transparent;
}

.button:hover {
    -fx-cursor: hand;
}

.text-button {
    -fx-padding: 6px 8px;
}

.contained-button {
    -fx-padding: 6px 16px;
}

.outlined-button {
    -fx-padding: 5px 15px;
}